*
{
    box-sizing: border-box;
    font-family: sans-serif, Arial;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black
}

.calculator
{
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    background-color: grey;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

#display
{
    width: 100%;
      height: 60px;
      background: white;
      border: none;
      border-radius: 8px;
      text-align: right;
      font-size: 2em;
      padding: 10px;
      margin-bottom: 15px;
      outline: none;
}

.buttons
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button
{
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

button:hover
{
    opacity: 0.9;
    background-color: orange;
}

.operator
{
    background-color: #6428d7;
}

.equals
{
    background-color: #6428d7;
    grid-column: span 3;
}

.clear
{
    background-color: #d72631;
}

.number
{
    background: black;
    color: white;
}

p
{
    margin-top: 15px;
}
p a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}