body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 20px;
    }
.quiz-box 
    {
        background: white;
        padding: 20px;
        width: 500px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
}
h2 
{
    text-align: center;
 }
.question 
    {
        margin-bottom: 15px;
    }
button 
{
    padding: 10px 20px;
    width: 100%;
    background: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
button:hover 
    {
        background: #005fcc;
    }

.error 
{
    border: 2px solid red;
    padding: 10px;
}